.talk h1 {
  text-align: center;
  padding-top: 42px;
  padding-bottom: 32px;
  font-weight: 700;
}
.nav-item.active a {
  color: white;
  transition: 0.3s linear;
}
.form1 {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 15px;
}

.form1 input {
  border: unset;
  border-bottom: 2px solid black;
  max-width: 240px;
  margin-right: 15px;
}

.form2 {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 15px;
}

.form2 input {
  border: unset;
  border-bottom: 2px solid black;
  max-width: 589px;
}

.form3 {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 15px;
}

.form3 input {
  border: unset;
  border-bottom: 2px solid black;
  max-width: 887px;
}

.form4 {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 15px;
}

.form4 input {
  border: unset;
  border-bottom: 2px solid black;
  max-width: 887px;
}

.form5 {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 32px;
}

.form5 input {
  border: unset;
  border-bottom: 2px solid black;
  max-width: 887px;
}

.talk .budget {
  text-align: center;
  margin: 0 auto;
  font-weight: 700;
  margin-bottom: 56px;
}
.slidecontainer {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 32px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: #a09494;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 50px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #d4a437;
  cursor: pointer;
  border-radius: 50px;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #d4a437;
  cursor: pointer;
  border-radius: 20px;
}
.form2,
.form3,
.form4,
.form5,
.budget,
.slidecontainer,
.form7,
.form8 {
  display: none;
  opacity: 0;
  transition: all 0.2s linear;
}

.form7 {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 32px;
}

.form7 input {
  border: unset;
  border-bottom: 2px solid black;
  max-width: 887px;
}

.form8 {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 32px;
}

.form8 input {
  border: unset;
  border-bottom: 2px solid black;
  max-width: 400px;
}

.talk .talk_button {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 29px;
}

.talk .talk_button a {
  font-size: 18px;
  color: white;
  padding: 4px 47px;
  background-color: #d4a437;
}

/* modal css starts*/
#success_tic .page-body {
  max-width: 300px;
  background-color: #ffffff;
  margin: 10% auto;
}
#success_tic .page-body .head {
  text-align: center;
}
/* #success_tic .tic{
  font-size:186px;
} */
#success_tic .close {
  opacity: 1;
  position: absolute;
  right: 0px;
  font-size: 30px;
  padding: 3px 15px;
  margin-bottom: 10px;
}
#success_tic .checkmark-circle {
  width: 150px;
  height: 150px;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.checkmark-circle .background {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #1ab394;
  position: absolute;
}
#success_tic .checkmark-circle .checkmark {
  border-radius: 5px;
}
#success_tic .checkmark-circle .checkmark.draw:after {
  -webkit-animation-delay: 300ms;
  -moz-animation-delay: 300ms;
  animation-delay: 300ms;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-name: checkmark;
  -moz-animation-name: checkmark;
  animation-name: checkmark;
  -webkit-transform: scaleX(-1) rotate(135deg);
  -moz-transform: scaleX(-1) rotate(135deg);
  -ms-transform: scaleX(-1) rotate(135deg);
  -o-transform: scaleX(-1) rotate(135deg);
  transform: scaleX(-1) rotate(135deg);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
#success_tic .checkmark-circle .checkmark:after {
  opacity: 1;
  height: 75px;
  width: 37.5px;
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top;
  border-right: 15px solid #fff;
  border-top: 15px solid #fff;
  border-radius: 2.5px !important;
  content: "";
  left: 35px;
  top: 80px;
  position: absolute;
}

@-webkit-keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 37.5px;
    opacity: 1;
  }
  40% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
  100% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
}
@-moz-keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 37.5px;
    opacity: 1;
  }
  40% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
  100% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
}
@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 37.5px;
    opacity: 1;
  }
  40% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
  100% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
}

/* ends */

@media (max-width: 1440px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 30;
  }
  .form2 input {
    max-width: 495px;
  }
  .form4 input {
    max-width: 410px;
  }
  .form7 input {
    max-width: 490px;
  }
  .form8 input {
    max-width: 282px;
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 26;
  }
  .form4 input {
    max-width: 345px;
  }
  .form8 input {
    max-width: 265px;
  }
}

@media (max-width: 991px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 24px;
  }
  .form1 input {
    max-width: 205px;
  }
  .form2 input {
    max-width: 488px;
  }
  .form3 input {
    max-width: 320px;
  }
  .form4 input {
    max-width: 183px;
  }
  .form5 input {
    max-width: 360px;
  }
  .form7 input {
    max-width: 354px;
  }
  .form8 input {
    max-width: 472px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 22px;
  }
  .form1 input {
    max-width: 100%;
  }
  .form2 input {
    max-width: 100%;
  }
  .form3 input {
    max-width: 100%;
  }
  .form4 input {
    max-width: 100%;
  }
  .form5 input {
    max-width: 100%;
  }
  .form7 input {
    max-width: 100%;
  }
  .form8 input {
    max-width: 100%;
  }
}
