* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* production inner page css start */

.industries_inner_banner {
  background: url("../images/productionImages/industries.svg") no-repeat center;
  background-size: cover;
  padding-bottom: 145px;
  position: relative;
}
.industries_inner_banner::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.industries_inner_banner .industries_container {
  max-width: 1640px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px;
}
.industries_inner_banner .page_about_text {
  position: relative;
  z-index: 1;
  max-width: 935px;
}
.industries_inner_banner .industries_container .top_text {
  padding-top: 100px;
  padding-bottom: 318px;
}
.industries_inner_banner .industries_container .top_text p {
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  color: #d4a437;
}
.industries_inner_banner .industries_container .top_text p span{
    font-size: 20px;
}
.industries_inner_banner .industries_container .bottom_text h1 {
  font-size: 36px;
  font-weight: bold;
  line-height: 49px;
  color: white;
  padding-bottom: 13px;
}
.industries_inner_banner .industries_container .bottom_text p {
  font-size: 54px;
  font-weight: bold;
  line-height: 74px;
  color: white;
}

/* production inner page css start */

/* article section css start */

.articles {
  padding: 32px 20px 95px 20px;
}
.articles .articles_container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
.articles .top_text {
  text-align: center;
}
.articles .top_text h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 49px;
  margin-bottom: 11px;
}
.articles .top_text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 57px;
}
.articles .top_text .top_p {
  margin-bottom: 39px;
}
.articles .body_card .inner_main {
  max-width: 398px;
  width: 100%;
  margin: 0 auto;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.articles .body_card .inner_main img {
  width: 100%;
}
.articles .body_card .inner_text {
  background-color: white;
  padding-top: 12px;
  padding-bottom: 33.8px;
  padding: 12px 48px 33px 33px;
  text-align: center;
  margin-bottom: 67px;
}
.articles .body_card .inner_text h3 {
  color: #d4a437;
  font-size: 24px;
  font-weight: bold;
  line-height: 33px;
  padding-bottom: 6px;
}
.articles .body_card .inner_text p {
  color: black;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  padding-bottom: 14px;
}
.articles .body_card .inner_text a {
  color: black;
  font-size: 12px;
  font-weight: bold;
  line-height: 17px;
}
/* article section css start */

/* /////////////////////////////***********************-////////////////////// */

/* Production Page CSS START */

/* banner page css  start*/

.production_banner {
  background: url("../images/productionImages/production11.png") no-repeat center;
  background-size: cover;
  position: relative;
  padding-bottom: 130px;
}
.production_banner::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.production_banner .production_container {
  max-width: 1640px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px;
}
.production_banner .production_container .page_text {
  position: relative;
  z-index: 1;
  max-width: 935px;
}
.production_banner .production_container .top_text {
  padding-top: 100px;
  padding-bottom: 318px;
}
.production_banner .production_container .top_text p {
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  color: #d4a437;
}
.production_banner .production_container .top_text span{
    font-size: 20px;
}
.production_banner .production_container .bottom_text h1 {
  font-size: 36px;
  font-weight: bold;
  line-height: 49px;
  color: white;
  padding-bottom: 13px;
}
.production_banner .production_container .bottom_text p {
  font-size: 54px;
  font-weight: bold;
  line-height: 74px;
  color: white;
}

/* banner page css  end*/

/* detail section start */

.detail_text{
    padding-top: 39px;
    padding-bottom: 62px;
    
    }
.detail_text .inner_container {
  max-width: 1430px;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
    padding-right: 20px;
}
.detail_text .inner_container .top_text h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 49px;
  padding-bottom: 24px;
}
.detail_text .inner_container .top_text p {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 13px;
}

/* detail section End */


/* MEdia Queries of Industries page */

@media(max-width:1440px){
    .industries_inner_banner .industries_container .bottom_text h1 { font-size: 32px;   line-height: 30px; }
    .industries_inner_banner .industries_container .bottom_text p { font-size: 40px; line-height: 52px; }
    .articles .top_text h2 {  font-size: 28px; line-height: 36px;  }
}

@media(max-width:992px){
    .industries_inner_banner .industries_container .bottom_text h1 {  font-size: 28px; line-height: 20px; }
    .industries_inner_banner .industries_container .bottom_text p {  font-size: 32px; line-height: 40px;  }
    .articles .top_text h2 {  font-size: 24px;  line-height: 30px; }
    .articles .body_card .inner_text h3 {  font-size: 21px;  line-height: 26px; }
}

@media(max-width:768px){
    .industries_inner_banner .industries_container .top_text{padding-bottom: 200px;}
    .industries_inner_banner{ padding-bottom: 80px; }
}

@media(max-width:640px){
    .industries_inner_banner .industries_container .bottom_text h1 {  font-size: 24px;  line-height: 20px; }
    .industries_inner_banner .industries_container .bottom_text p {  font-size: 28px;  line-height: 36px;  }
    .articles{ padding-bottom: 50px;}
    .articles .top_text h2 {  font-size: 22px;  }
    .industries_inner_banner .industries_container .top_text p{ font-size: 20px; line-height: 28px;}
    .industries_inner_banner .industries_container .top_text{ padding-bottom: 100px}
    .articles .top_text .top_p{margin-bottom: 22px;}
}

@media(max-width:425px){
    .industries_inner_banner .industries_container .bottom_text p {  font-size: 22px;  }
    .industries_inner_banner .industries_container .top_text p { font-size: 18px; }
    .industries_inner_banner .industries_container .top_text p span {  font-size: 17px; }
}


/* /////////////////******************--////////////////////// */

/* MEdia query for Prouction Section */

@media(max-width:1440px){
    .production_banner .production_container .bottom_text h1 { font-size: 32px;   line-height: 30px; }
    .production_banner .production_container .bottom_text p{ font-size: 40px; line-height: 52px; }
    .detail_text .inner_container .top_text h2{  font-size: 28px; line-height: 36px;  }
}

@media(max-width:992px){
    .production_banner .production_container .bottom_text h1 {  font-size: 28px; line-height: 20px; }
    .production_banner .production_container .bottom_text p {  font-size: 32px; line-height: 40px;  }
    .detail_text .inner_container .top_text h2{  font-size: 24px;  line-height: 30px; }
}

@media(max-width:768px){
    .production_banner .production_container .top_text {padding-bottom: 200px;}
    .production_banner{ padding-bottom: 80px; }
    .production_banner .production_container .top_text p{  font-size: 20px;  }
}

@media(max-width:640px){
    .production_banner .production_container .bottom_text h1 {  font-size: 24px;  line-height: 20px; }
    .production_banner .production_container .bottom_text p{  font-size: 28px;  line-height: 36px;  }
    .detail_text{ padding-bottom: 50px;}
    .detail_text .inner_container .top_text h2 {  font-size: 22px;  }
    .detail_text .inner_container .top_text p{font-size: 16px; font-weight: 400;}
    .production_banner .production_container .bottom_text p{ font-size: 20px; line-height: 28px;}
    .production_banner .production_container .top_text{ padding-bottom: 100px}
}

@media(max-width:425px){
    .production_banner .production_container .top_text p { font-size: 18px; }
    .production_banner .production_container .top_text span {  font-size: 17px;  }
}
