/* Global css start */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}
.clear {
  clear: both;
}

img {
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  /* display: inline-block; */
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 32px;
}
h3 {
  font-size: 25px;
}

p {
  font-size: 18px;
}

.p1 {
  font-size: 14px;
}

h1 span,
h2 span,
h3 span,
h4 span {
  font-weight: 700;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

li:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.container {
  max-width: 1640px;
  width: 92%;
  margin: 0 auto;
}

/* Global css end */

/* header css start */
.clear {
  display: none;
}

header {
  background: black;
  width: 100%;
  padding: 25px 0;
}

header .navbar {
  padding: unset;
}

header .header_logo img {
  width: 100%;
}

header .navbar ul li {
  padding: 0px 25px;
}

nav ul li a {
  letter-spacing: 5px;
  font-size: 14px;
  font-weight: 900;
  color: white;
  display: block;
  position: relative;
  transition: 0.3s all ease;
}
nav ul li a:hover {
  color: #c2ab6c;
}
nav ul li a:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: transparent;
  transition: 0.3s all ease;
}
nav ul li a:hover::after,
nav ul li.active a:after{
  background-color: #c2ab6c;
  width: 100%;
}
nav ul li.active a {
  color: white;
}
.navbar-collapse {
  flex-grow: unset;
}
ul.navbar-nav {
  align-items: center;
}
nav.navbar.navbar-expand-lg.justify-content-end {
  justify-content: space-between !important;
}
.navbar-toggler-icon {
  display: block;
  width: 33px;
  height: 2px;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
  background-color: white;
  margin-bottom: 6px;
  padding-top: 2px;
  margin-top: 8px;
}

/* toggle css */

/* heder css ends */

/* Banner starts */
.banner {
  background-image: url("./../images/backgroundimage.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 100vh; */
}

/* == SVG animation === */

@keyframes vertical-ani {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

.vertical-animation {
  animation: vertical-ani 2s infinite;
}

@keyframes horizontal-ani {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.horizontal-animation {
  animation: horizontal-ani 2s infinite;
}

/* ===========================
      Banner Section
============================ */

.section-bullets {
  position: fixed;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 5px;
  list-style: none;
  list-style-type: none;
  padding: 0px 0px;
  z-index: 1;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}
.section-bullets li {
  display: block;
  list-style: none;
  list-style-type: none;
  margin: 0px 0px 5px 0px;
  padding: 0px 0px;
  width: 100%;
  min-height: 20px;
}
.section-bullets li a {
  cursor: pointer;
  display: block;
  background-color: #b7b7b7;
  width: 100%;
  height: 20px;
  margin: 0px 0px 5px 0px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.2s all ease;
}

.section-bullets li a.active {
  background-color: #d4a437;
  height: 38px;
  margin-bottom: 5px;
}
.bannerSection {
  padding: 25px 0;
  background-image: url("./../images/backgroundimage.png");
  background-position: center bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: calc(100vh - 93px);
  display: flex;
  align-items: center;
  width: 100%;
}

.banner_main {
  position: relative;
}
.banner .banner_text {
  padding-top: 184px;
  padding-bottom: 418px;
  margin-left: 316px;
}
.banner .banner_text h1 {
  max-width: 724px;
}
.banner_text h1 span {
  font-weight: 700;
}
.banner_text .e {
  margin-left: -6px;
  color: #c2ab6c;
  transform: rotate(-50deg);
  -webkit-transform: rotate(-50deg);
  display: inline-block;
  margin-right: 4px;
}
.banner_text .text_1 {
  color: white;
  margin-top: 11px;
}
.banner_text .text_1 h2 {
  padding-left: 7px;
  padding-bottom: 4px;
  background-color: black;
  display: inline-block;
  padding-right: 20px;
}
.banner_text .text_2 {
  color: white;
  margin-top: 3px;
}
.banner_text .text_2 h2 {
  padding-left: 5px;
  padding-bottom: 4px;
  background-color: black;
  display: inline-block;
  padding-right: 54px;
}
.banner_text .text_3 {
  color: white;
  margin-top: 1px;
  margin-bottom: 4px;
}
.banner_text .text_3 h2 {
  padding-left: 6px;
  padding-bottom: 4px;
  padding-top: 3px;
  background-color: black;
  display: inline-block;
  padding-right: 20px;
}
.banner_text .text_4 {
  color: white;
  padding-bottom: 2px;
}
.banner_text .text_4 h2 {
  padding-left: 6px;
  background-color: black;
  padding-bottom: 6px;
  margin-top: -3px;
  display: inline-block;
  padding-right: 30px;
}
.banner_images .gear1 {
  max-width: 125px;
  position: absolute;
  top: 198px;
  right: 289px;
}
.banner_images .gear2 {
  max-width: 85px;
  position: absolute;
  top: 338px;
  right: 302px;
}
.banner_images .gear .smile {
  max-width: 48px;
  position: absolute;
  top: 249px;
  right: 330px;
}
.banner_images .gear .heart {
  max-width: 35px;
  position: absolute;
  top: 374px;
  right: 331px;
}
.banner_images .gear .dotscircle {
  max-width: 163px;
  position: absolute;
  top: 165px;
  right: 259px;
}
.banner_images .gear .clockwise {
  max-width: 70px;
  position: absolute;
  top: 190px;
  right: 272px;
}
.banner_images .gear .anticlock {
  max-width: 61px;
  position: absolute;

  top: 382px;
  right: 289px;
}

.banner_images .dashboard .screen {
  max-width: 332px;
  width: 100%;
  position: absolute;
  top: 135px;
  right: 363px;
}
.banner_images .dashboard .yellowblock {
  max-width: 60px;
  position: absolute;
  top: 180px;
  right: 614px;
}
.banner_images .dashboard .dots {
  max-width: 131px;
  position: absolute;
  top: 289px;
  right: 426px;
}
.banner_images .dashboard .mail {
  max-width: 38px;
  position: absolute;
  top: 313px;
  right: 518px;
}
.banner_images .dashboard .setting {
  max-width: 38px;
  position: absolute;
  top: 337px;
  right: 473px;
}
.banner_images .dashboard .profile {
  max-width: 38px;
  position: absolute;
  top: 360px;
  right: 433px;
}
.banner_images .dashboard .signals {
  max-width: 38px;
  position: absolute;

  top: 383px;
  right: 393px;
}
.banner_images .dashboard .stats {
  max-width: 221px;
  position: absolute;
  top: 357px;
  right: 332px;
}
.banner_images .dashboard .circle {
  max-width: 66px;
  position: absolute;

  top: 473px;
  right: 361px;
}
.banner_images .dashboard .statsp {
  max-width: 27px;
  position: absolute;

  top: 493px;
  right: 381px;
}
.banner_images .dashboard .www {
  max-width: 172px;
  position: absolute;
  top: 356px;
  right: 548px;
}
.banner_images .dashboard .mailblock {
  max-width: 128px;
  position: absolute;
  top: 329px;
  right: 695px;
}
.banner_images .dashboard .block {
  max-width: 203px;
  position: absolute;
  top: 201px;
  right: 607px;
}
.banner_images .dashboard .view {
  max-width: 61px;
  position: absolute;
  top: 243px;
  right: 735px;
}
.banner_images .dashboard .magnifier {
  max-width: 134px;
  position: absolute;
  top: 368px;
  right: 574px;
}

.img-wrap-inner .screen {
  max-width: 580px;
  margin: 0 auto;
}

/* Banner ends */

/* Work strats */
.work {
  /* display: flex; */
  background-color: black;
}
.work-with-us {
  display: flex;
  align-items: center;
  margin-right: unset;
  margin-left: unset;
}
.work-with-us .work .work_us h2 {
  color: white;
  font-weight: 700;
  padding-top: 270px;
  padding-left: 123px;
  letter-spacing: 1px;
  padding-bottom: 23px;
}
.work .text-inner {
  padding-left: 120px;
}
.work p {
  color: white;
  padding-bottom: 7px;
  letter-spacing: 2px;
}
.work .text-inner h2 {
  color: white;
  padding-bottom: 20px;
  font-family: "Open Sans";
}

.work p i {
  font-size: 30px;
  padding-right: 19px;
  color: #d4a437;
}

/* work ends */

/* Technologies starts */
.technology {
  background-color: black;
  display: flex;
  align-items: center;
}
.tech_left {
  padding-left: 137px;
  padding-right: 68px;
}
.technology .tech_left h1 {
  color: white;
  text-align: center;
  margin: 0 auto;
  font-family: "Open Sans";

  padding-bottom: 15px;
  font-weight: 700;
  padding-right: 50px;
  letter-spacing: 1px;
}
.tech_left .p2 {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 722px;
  color: white;
  font-family: "Open Sans";
  padding-bottom: 29px;
}
.tech .tech_right img {
  height: 100vh;
}
.languages {
  display: flex;
}
.tech_left .left_lang {
  padding-left: 7px;
}
.tech_left .lang1 {
  max-width: 305px;
}
.tech_left .lang1 img {
  border-radius: 12px;
}
.tech_left .lang2 {
  max-width: 305px;
  padding-top: 4px;
}
.tech_left .lang6 img {
  border-radius: 12px;
}
.tech_left .lang3 {
  margin-top: -4px;
  max-width: 305px;
}
.tech_left .lang4 {
  max-width: 305px;
  padding-top: 16px;
}
.tech_left .lang5 {
  max-width: 305px;
  padding-top: 16px;
}
.tech_left .languages .right_lang {
  padding-left: 71px;
}
.tech_left .lang6 {
  max-width: 305px;
}
.tech_left .lang7 {
  max-width: 305px;
  padding-top: 4px;
}
.tech_left .lang8 {
  margin-top: -4px;
  max-width: 305px;
}
.tech_left .lang9 {
  max-width: 305px;
  padding-top: 16px;
}
.tech_left .lang10 {
  max-width: 305px;
  padding-top: 16px;
}
.tech_left .languages .right_lang .lang7 {
  padding-top: 15px;
}
.tech_left .languages .right_lang .lang8 {
  padding-top: 6px;
}
.tech_left .languages .right_lang .lang9 {
  padding-top: 13px;
}
.tech_left .languages .right_lang .lang10 {
  padding-top: 13px;
}

/* Technologies ends */

/* solution starts */
.solution {
  background-color: black;
  min-height: 100vh;
  display: flex;
  align-items: center;
  width: 100%;
}
.solution .solution-svg {
  max-width: 80.7455%;
  width: 100%;
  margin: 26px auto;
}

.problem_solution {
  display: flex;
}

/* Services starts */
.img-wrap-inner {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
}
.img-desc {
  position: absolute;
  background-color: rgb(255 255 255 / 53%);
  backdrop-filter: blur(5px);
  left: 0px;
  bottom: 0px;
  padding: 5px 15px;
  min-height: 102px;
}

.img-title {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 700;
}
.desc-text {
  font-size: 14px;
}
.services {
  background-color: black;
  padding-bottom: 130px !important;
}
.services h2 {
  font-weight: 700;
  color: white;
  text-align: center;
  padding-top: 104px;
  padding-bottom: 61px;
}
.services .services_images01 {
  display: flex;
}
.services .services_images02 {
  display: flex;
  padding-top: 32px;
}
.services .services_images01 .service_image {
  max-width: 535px;
  position: relative;
}
.services_images01 .service_text {
  backdrop-filter: blur(10px);
  position: absolute;
  bottom: 8px;
  max-width: 508px;
  left: 5px;
  border-bottom-left-radius: 43px;
  border-bottom-right-radius: 43px;
}
.services_images01 .service_text .p3 {
  font-size: 16px;
  padding-top: 7px;
  padding-left: 29px;
  font-weight: 700;
  color: white;
}
.services_images01 .service_text .p4 {
  font-size: 14px;
  padding-bottom: 24px;
  padding-top: 8px;
  padding-left: 28px;
  color: white;
}
.services .services_images01 .service_image1 {
  max-width: 547px;
  padding-left: 10px;
  position: relative;
}
.services_images01 .service_text1 {
  backdrop-filter: blur(10px);
  position: absolute;
  bottom: 8px;
  max-width: 508px;
  left: 15px;
  border-bottom-left-radius: 43px;
  border-bottom-right-radius: 43px;
}
.services_images01 .service_text1 .p3 {
  font-size: 16px;
  padding-top: 7px;
  padding-left: 29px;
  font-weight: 700;
  color: white;
}
.services_images01 .service_text1 .p4 {
  font-size: 14px;
  padding-bottom: 24px;
  padding-top: 8px;
  padding-left: 28px;
  color: white;
}

.services .services_images01 .service_image2 {
  position: relative;
  max-width: 548px;
  padding-left: 10px;
}
.services_images01 .service_text2 {
  backdrop-filter: blur(10px);
  position: absolute;
  bottom: 8px;
  max-width: 508px;
  width: 100%;
  left: 16px;
  border-bottom-left-radius: 43px;
  border-bottom-right-radius: 43px;
}
.services_images01 .service_text2 .p3 {
  font-size: 16px;
  padding-top: 7px;
  padding-left: 29px;
  font-weight: 700;
  color: white;
}
.services_images01 .service_text2 .p4 {
  font-size: 14px;
  padding-bottom: 24px;
  padding-top: 8px;
  padding-left: 28px;
  color: white;
}
.services .services_images02 .service_image3 {
  max-width: 535px;
  position: relative;
}
.services_images02 .service_text3 {
  backdrop-filter: blur(10px);
  position: absolute;
  bottom: 8px;
  max-width: 504px;
  left: 3px;
  border-bottom-left-radius: 43px;
  border-bottom-right-radius: 43px;
}
.services_images02 .service_text3 .p3 {
  font-size: 16px;
  padding-top: 7px;
  padding-left: 29px;
  font-weight: 700;
  color: white;
}
.services_images02 .service_text3 .p4 {
  font-size: 14px;
  padding-bottom: 24px;
  padding-top: 8px;
  padding-left: 28px;
  color: white;
}
.services .services_images02 .service_image4 {
  max-width: 556px;
  padding-left: 22px;
  position: relative;
}
.services_images02 .service_text4 {
  backdrop-filter: blur(10px);
  position: absolute;
  bottom: 8px;
  max-width: 505px;
  left: 24px;
  border-bottom-left-radius: 43px;
  border-bottom-right-radius: 43px;
}
.services_images02 .service_text4 .p3 {
  font-size: 16px;
  padding-top: 7px;
  padding-left: 29px;
  font-weight: 700;
  color: white;
}
.services_images02 .service_text4 .p4 {
  font-size: 14px;
  padding-bottom: 24px;
  padding-top: 8px;
  padding-left: 28px;
  color: white;
}
.services .services_images02 .service_image5 {
  max-width: 556px;
  padding-left: 20px;
  position: relative;
}
.services_images02 .service_text5 {
  backdrop-filter: blur(10px);
  position: absolute;
  bottom: 8px;
  max-width: 502px;
  left: 25px;

  border-bottom-left-radius: 43px;
  border-bottom-right-radius: 43px;
}
.services_images02 .service_text5 .p3 {
  font-size: 16px;
  padding-top: 7px;
  padding-left: 29px;
  font-weight: 700;
  color: white;
}
.services_images02 .service_text5 .p4 {
  font-size: 14px;
  padding-bottom: 24px;
  padding-top: 8px;
  padding-left: 28px;
  color: white;
}
/* services ends */

/* <!-- Together starts --> */
.together {
  background-image: url("../images/interview-state.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 142px;
  transition: 0.3s linear;
  padding-top: 84px;
}
.together h1 {
  color: white;
  font-weight: 700;
  padding-top: 69px;
  padding-left: 198px;
  padding-bottom: 26px;
}
.together .p1 {
  color: white;
  padding-left: 197px;
  max-width: 1045px;
  padding-bottom: 51px;
}
.together h2:first-child {
  padding-top: 0px;
}
.together h2 {
  font-weight: 500;
  padding-left: 206px;
  padding-top: 15px;
}
.together .heading {
  color: white;
  font-weight: 500;
  padding-left: 206px;
  padding-top: 70px;
}
.together .heading a {
  color: white;
  /* transition: 0.9s linear; */
  font-weight: 500;
  position: relative;
}

/* .together h2 a:hover: {
  opacity: 1;
} */

.together h2 a:hover {
  margin-left: 20px;
  transition: 0.3s linear;
}
.together h2 a:hover:after {
  content: "";
  position: absolute;
  width: 75px;
  height: 4px;
  top: 50%;
  transition: 0.3s linear;
  margin-left: 26px;
  opacity: 1;
  background-color: white;
}

/*   <!-- Together ends --> */

/* <!-- industry starts --> */

.industry h2 {
  text-align: center;
  padding-top: 90px;
  padding-bottom: 8px;
  font-weight: 700;
}
.industry .p2 {
  text-align: center;
  max-width: 990px;
  margin: 0 auto;
  padding-right: 10px;
  padding-bottom: 39px;
}
.industry .upper_images {
  display: flex;
  max-width: 1620px;
  margin: 0 auto;

  padding-top: 48px;
}
.upper_images .indus_image1 {
  padding-right: 59px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.indus_image1:hover .hover-desc-text {
  visibility: visible;
  opacity: 1;
}
.industry .indus_image1 > img{
  filter: grayscale(80%);
  transition: 0.3s all ease;
}
.industry .indus_image1:hover > img{
  filter: grayscale(40%);
}

.hover-desc-text {
  padding: 30px 15px;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
  /* backdrop-filter: blur(5px); */
  z-index: 1;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.hover-desc-text p {
  position: absolute;
  width: 90%;
  display: block;
  text-align: center;
  top: 50%;
  margin-top: -25px;
}
.align-middle {
  font-size: 26px;
  font-weight: 700;
  font-family: "Open Sans";
}
.upper_images .indus_image2 {
  padding-right: 59px;
}
.upper_images .indus_image2 img:hover {
  color: white;
  opacity: 0.5;
}
.upper_images .indus_image3 {
  padding-right: 59px;
}
.upper_images .indus_image3 img:hover {
  color: white;
  opacity: 0.5;
}
.upper_images .indus_image4 {
  padding-right: 59px;
}
.upper_images .indus_image4 img:hover {
  color: white;
  opacity: 0.5;
}
.industry .lower_images {
  display: flex;
  padding-top: 81px;

  max-width: 1620px;
  margin: 0 auto;
}
.lower_images .indus_image6 {
  padding-right: 59px;
}
.upper_images .indus_image6 img:hover {
  color: white;
  opacity: 0.5;
}
.lower_images .indus_image7 {
  padding-right: 59px;
}
.upper_images .indus_image7 img:hover {
  color: white;
  opacity: 0.5;
}
.lower_images .indus_image8 {
  padding-right: 59px;
}
.upper_images .indus_image8 img:hover {
  color: white;
  opacity: 0.5;
}
.lower_images .indus_image9 {
  padding-right: 59px;
}
.upper_images .indus_image9 img:hover {
  color: white;
  opacity: 0.5;
}
/*   <!-- industry ends --> */

/* Clients starts */
.client h2 {
  text-align: center;
  padding-top: 108px;
  padding-bottom: 48px;
}
.client .clients {
  display: flex;
  margin: 0 auto;
  text-align: center;
  overflow-x: auto;
}
.client .clients .client1 {
  padding-right: 10px;
  padding-left: 10px;
}
.slick-dots li {
  display: none;
}
.slick-next {
  display: none;
  width: 0px;
  height: 0;
}
.client .testimonals .clienthead {
  padding-top: 45px;
  padding-bottom: 12px;
}
.testimonals .p2 {
  margin: 0 auto;
  text-align: center;
  max-width: 1018px;
}
.reviews .reviews_image {
  margin: 0 auto;
  max-width: 260px;
  padding-top: 55px;
}
.reviews .reviews_text {
  text-align: center;
  margin: 0 auto;
  font-weight: 700;
  padding-top: 10px;
}
.reviews_text .p7 {
  max-width: 994px;
  margin: 0 auto;
  font-weight: 300;
  padding-bottom: 92px;
  position: relative;
}
.reviews_text .p7 .quote-left {
  position: absolute;
  top: -47px;
  left: 2px;
  color: #0087a6;
  font-size: 38px;
}
.reviews_text .p7 .quotes {
  color: red;
}
.reviews_text .p7 .quote-right {
  position: absolute;
  bottom: 40px;
  right: 0px;
  color: #0087a6;
  font-size: 38px;
}
.slick-next:before {
  display: none !important;
}

.help {
  background-image: url("images/bg.png");
  background-color: #2a2a2a;
  padding-bottom: 43px;
}
.help .helphead {
  color: white;
  padding-top: 46px;
  padding-bottom: 29px;
}
.help .help_button {
  text-align: center;
  margin: 0 auto;
  background-color: #c2ab6c;
  max-width: 374px;
  padding: 15px;
  border-radius: 10px;
}
.help .help_button a {
  color: black;
  font-weight: 700;
}
/* Clients ends */

/* footer */
footer {
  background-color: black;
  padding: 91px 0;
}
.footer_line {
  display: flex;
  justify-content: space-between;
}
.footer_logo {
  padding-top: 36px;
}
.footer_line .list1 li {
  padding-top: 36px;
}
.footer_line .list1 li a {
  position: relative;
}
.footer_line .list2 li a {
  position: relative;
}
.footer_line .list3 li a {
  position: relative;
}
.footer_line .list2 li {
  padding-top: 36px;
}
.footer_line li a {
  color: white;
  font-size: 18px;
  font-weight: 700;
}
.footer_line .list1 li a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #d4a437;
  visibility: hidden;
  transform: scaleX(0);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  top: 27px;
}
.footer_line .list1 li a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
.footer_line .list2 li a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #d4a437;
  visibility: hidden;
  transform: scaleX(0);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  top: 27px;
}
.footer_line .list2 li a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
.footer_line .list3 li a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #d4a437;
  visibility: hidden;
  transform: scaleX(0);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  top: 27px;
}
.footer_line .list3 li a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.footer_line .list3 li {
  padding-top: 36px;
  max-width: 500px;
}

/* footer */

/* .form2,
.form3,
.form4,
.form5,
.form6,
.slidecontainer,
.form7,
.form8 {
  display: none;
  opacity: 0;
  transition: all 0.2s linear;
} */

/* ====media queries====== */

@media (max-width: 1440px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 25px;
  }
  header nav ul li a {
    letter-spacing: 2px;
  }
  .solution .solution-svg {
    max-width: 90%;
  }
  .img-wrap-inner .screen {
    max-width: 537px;
    margin: 0 auto;
  }
  .footer_line .list3 li {
    max-width: 310px;
  }
}
@media (max-width: 1200px) {
  h1 {
    font-size: 28px;
  }
  header .navbar ul li a {
    letter-spacing: 0px;
  }
  .technology .tech_left h1 {
    font-family: "Open Sans";
    padding-bottom: 6px;
    padding-right: unset;
  }
  .tech_left .p2 {
    font-family: "Open Sans";
    padding-bottom: 16px;
  }

  .services_images01 .service_text .p4 {
    font-size: 13px;
    padding-bottom: 6px;
    padding-top: unset;
    padding-left: 1px;
  }
  .services_images01 .service_text1 .p4 {
    font-size: 13px;
    padding-bottom: 8px;
    padding-top: 3px;
    padding-left: 7px;
    color: white;
  }
  .services_images01 .service_text1 .p3 {
    font-size: 14px;
    padding-top: 7px;
    padding-left: 11px;
    font-weight: 700;
    color: white;
  }
  .services_images01 .service_text .p3 {
    font-size: 14px;
    padding-top: 7px;
    padding-left: 12px;
  }
  .services_images01 .service_text2 .p4 {
    font-size: 14px;
    padding-bottom: 7px;
    padding-top: 8px;
    padding-left: 5px;
  }
  .services_images01 .service_text2 .p3 {
    font-size: 14px;
    padding-top: 7px;
    padding-left: 6px;
    font-weight: 700;
    color: white;
  }
  .services_images02 .service_text3 .p4 {
    font-size: 13px;
    padding-bottom: 4px;
    padding-top: 8px;
    padding-left: 8px;
    color: white;
  }
  .services_images02 .service_text4 .p3 {
    font-size: 14px;
    padding-top: 7px;
    padding-left: 14px;
    font-weight: 700;
    color: white;
  }
  .services_images02 .service_text4 .p4 {
    font-size: 13px;
    padding-bottom: 4px;
    padding-top: 8px;
    padding-left: 7px;
  }
  .services_images02 .service_text5 .p4 {
    font-size: 13px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 9px;
    color: white;
  }
  .services_images02 .service_text5 .p3 {
    font-size: 14px;
    padding-top: 7px;
    padding-left: 12px;
  }
  .img-desc {
    height: 85px;
    overflow: hidden;
  }
  .together .p1 {
    padding-left: 111px;
    max-width: 654px;
  }
  .together h1 {
    padding-left: 112px;
  }
  .together h2 {
    padding-left: 115px;
    padding-top: 15px;
  }
  .together .heading {
    padding-left: 120px;
  }
}
@media (max-width: 1024px) {
  h2 {
    font-size: 22px;
  }
  .align-middle {
    font-size: 15px;
  }
  header .navbar ul li {
    padding: 0px 17px;
  }

  .work .text-inner {
    padding-left: 60px;
  }
  .work p i {
    font-size: 23px;
    padding-right: 19px;
    color: #d4a437;
  }
  .tech_left {
    padding-left: 89px;
    padding-right: 44px;
  }
}

@media (max-width: 991px) {
  h2 {
    font-size: 18px;
  }
  .section-bullets {
    display: none;
  }
  header .navbar {
    padding: 16px 0px;
  }
  ul.navbar-nav {
    align-items: center;
  }
  header .navbar ul li {
    padding: 11px 17px;
  }

  .work .text-inner {
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  header nav ul li a {
    letter-spacing: 1px !important;
  }
  .nav-item.active a {
    color: #d4a437;
    padding: unset;
    background: unset;
    border-bottom: unset;
    border-top: unset;
  }
  .solution {
    min-height: 100%;
  }
  .solution .solution-svg {
    max-width: 100%;
  }
  .work-with-us > .col-12{
    padding: 0;
  }
  .work p i {
    font-size: 16px;
    padding-right: 19px;
    color: #d4a437;
  }
  .technology .tech_left h1 {
    color: white;
    text-align: center;
    margin: 0 auto;
    /* padding-top: 181px; */
    padding-bottom: 5px;
    font-weight: 700;
    padding-right: 39px;
    letter-spacing: 0px;
  }
  .tech_left {
    padding-left: 31px;
    padding-right: 35px;
  }
  .footer_line .list3 li {
    max-width: 244px;
  }
  footer {
    background-color: black;
    padding: 45px 0;
  }
  .footer_line li a {
    color: white;
    font-size: 16px;
    font-weight: 600;
  }
}

@media (max-width: 768px) {
  .nav-item.active a {
    color: #d4a437;
  }

  .services {
    padding-top: 10px;
    padding-bottom: 50px;
  }
  .services h2 {
    padding-top: 0px;
    padding-bottom: 30px;
  }
  .work .text-inner {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
  }

  header .header_logo {
    margin-left: unset;
  }

  header nav .list ul {
    display: block;
    position: absolute;
    width: 100%;
    background-color: black;
    left: 0;
    text-align: center;
    max-width: unset;
    top: 87px;
    z-index: 1000;
  }
  nav ul li {
    float: none;
    margin-left: unset;
    padding: 12px 0px;
  }

  #nav-toggle {
    position: absolute;
    right: 14px;
    top: 32px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
  }

  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: white;
    position: absolute;
    display: block;
    content: "";
    transition: all 300ms ease-in-out;
  }

  #nav-toggle span:before {
    top: -10px;
  }

  #nav-toggle span:after {
    bottom: -10px;
  }

  #nav-toggle.active span {
    background-color: transparent;
  }

  #nav-toggle.active span:before,
  #nav-toggle.active span:after {
    top: 0;
  }

  #nav-toggle.active span:before {
    transform: rotate(45deg);
  }

  #nav-toggle.active span:after {
    transform: rotate(-45deg);
  }
  header nav .list ul li {
    margin-right: unset;
  }
  .bannerSection {
    min-height: 100%;
    padding: 52px 0px 50px 0px;
  }
  .bannerSection .banner_text {
    text-align: center;
  }
  .banner_text .text_1 h2 {
    padding-right: 8px;
  }
  .banner_text .text_2 h2 {
    padding-left: 14px;
    padding-bottom: 4px;
    background-color: black;
    display: inline-block;
    padding-right: 21px;
  }
  .banner_text .text_4 h2 {
    padding-left: 22px;
    background-color: black;
    padding-bottom: 6px;
    margin-top: -3px;
    display: inline-block;
    padding-right: 30px;
  }
  .work-with-us {
    flex-direction: column;
  }
  .work-with-us .work_image {
    margin-bottom: 25px;
  }
  .technology {
    flex-direction: column-reverse;
    padding: 30px 0px;
  }
  .tech_left {
    padding-left: 31px;
    padding-right: 35px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .together {
    padding-bottom: 59px;
    padding-top: 27px;
  }

  .together .p1 {
    padding-left: 30px;
    max-width: 386px;
    padding-bottom: 28px;
  }
  .together h1 {
    padding-left: 30px;
  }
  .together .heading a {
    color: white;
  }

  .together .heading {
    padding-left: 30px;
    padding-top: 30px;
  }
  .help .help_button {
    max-width: 293px;
  }
  .footer_line {
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
  }
  .list3 {
    margin: 0 auto;
  }
  footer .footer_line .footer_logo img {
    max-width: 250px;
  }
  .work .text-inner h2 {
    color: white;
    padding-bottom: 13px;
  }
  .together {
    background-position: 81% center;
}
}
@media (max-width: 480px) {
  h2 {
    font-size: 16px;
  }
  .services {
    padding-bottom: 60px !important;
  }
}
@media (max-width: 375px) {
  h1 {
    font-size: 22px;
  }
  .banner_text .text_3 h2 {
    padding-left: unset;
    padding-bottom: 4px;
    padding-top: unset;

    padding-right: unset;
  }
  .banner_text .text_2 {
    color: white;
    margin-top: 0px;
    margin-bottom: 4px;
  }
  .banner_text .text_4 h2 {
    padding-left: unset;
    background-color: black;
    padding-bottom: 6px;
    margin-top: -3px;
    display: inline-block;
    padding-right: 8px;
  }
}
