/* join starts */
.join {
  background-image: url("./../images/team/join_bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 67px 0;
}

.join .join_team {
  background-color: black;
  border-radius: 25px;
  padding: 38px 25px 100px;
}

.join .join_team h2 {
  color: white;
  text-align: center;
  margin-bottom: 53px;
  font-size: 32px;
  line-height: 43px;
  font-weight: 700;
}

.join .join_form form{
  max-width: 564px;
  width: 100%;
  margin: 0 auto;
}
.join .join_form .form_image{
  max-width: 427px;
  width: 100%;
  margin: 0 auto;
}
.join .join_form li{
  outline: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.join .join_form .grouped_input .input_field{
  width: 48%;
}
.join .join_form .input_field{
  background: transparent;
  border: none;
  color: white;
  border-bottom: 2px solid white;
  margin-bottom: 60px;
  padding-bottom: 5px;
  outline: none;
  transition: 0.3s all ease;
  width: 100%;
  font-size: 16px;
}
.join .join_form .input_field::placeholder{
  color: white;
  transition: 0.3s all ease;
}
.join .join_form .input_field:focus::placeholder{
  color: #d4a437;
}
.join .join_form .input_field:focus{
  border-color: #d4a437;
}
.join .join_form textarea {
  resize: none;
}
.join .join_form textarea::placeholder{
  color: white;
}
.join .join_form .join_cta {
  color: white;
  background-color: #d4a437;
  padding: 10px 42px;
  border-radius: 5px;
  border: transparent;
  display: inline-block;
}

/* Joins ends */

/* Media quries */

/* quote_sec starts */
.quote_sec{
  padding: 78px 0 113px;
}
.quote_sec h1{
  text-align: center;
  font-weight: 600;
  position: relative;
  display: inline-block;
  padding: 20px 150px;
}
.quote_sec h1::before,
.quote_sec h1::after{
  content: "";
  position: absolute;
  background: url("../images-new/quote.png") no-repeat center center/contain;
  width: 80px;
  height: 45px;
  display: block;
}
.quote_sec h1::before{
  top: 0;
  left: 0;
}
.quote_sec h1::after{
  bottom: 0;
  right: 0;
}
/* quote_sec ends */

/* employers starts */
.employers > .inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5px;
}
.employers > .inner .single{
  background-color: var(--primary_bg);
  padding: 115px 15px;
}
.employers .employer_img img{
  width: 100%;
  height: 354px;
  object-fit: cover;
}
.employers .employer_name{
  font-size: 39px;
  line-height: 52px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-top: 23px;
}
.employers .employer_desg{
  font-size: 26px;
  line-height: 35px;
  color: #fff;
  text-align: center;
}
/* employers ends */

/* our_team starts */
.our_team {
  padding: 84px 0 94px;
}
.our_team .sec_heading{
  margin-bottom: 41px;
}
.our_team .team_inner .single{
  text-align: center;
  cursor: pointer;
  margin-bottom: 41px;
}
.our_team .tm_img{
  position: relative;
}
.our_team .tm_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s all ease;
}
.our_team .tm_img .hover_image{
  position: absolute;
  left: 0;
  top: 0;
}
.our_team .tm_img .hover_image{
  opacity: 0;
}
.our_team .single:hover .default_image{
  opacity: 0;
}
.our_team .single:hover .hover_image{
  opacity: 1;
}
.our_team .tm_name{
  margin-top: 11px;
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
}
.our_team .tm_desg{
  margin-top: 3px;
  font-size: 16px;
  line-height: 22px;
}
/* our_team ends */

@media (max-width: 1600px) {
  .quote_sec h1 {
      font-size: 42px;
  }
  .quote_sec h1::before, .quote_sec h1::after {
    width: 63px;
    height: 35px;
}
.employers .employer_name {
    font-size: 29px;
    line-height: 42px;
    margin-top: 15px;
}
.employers .employer_desg {
    font-size: 20px;
    line-height: 30px;
}
.our_team .tm_name {
    font-size: 18px;
    line-height: 25px;
}
.our_team .tm_desg {
    margin-top: 0;
    font-size: 14px;
    line-height: 20px;
}
}
@media (max-width: 1440px) {
  .quote_sec {
      padding: 40px 0;
  }
  .quote_sec h1 {
    font-size: 32px;
    padding: 10px 100px;
}
.employers > .inner .single {
    padding: 55px 15px;
}
.employers .employer_img img {
    height: 250px;
}
.employers .employer_name {
    font-size: 22px;
    line-height: 32px;
    margin-top: 10px;
}
.employers .employer_desg {
    font-size: 18px;
    line-height: 28px;
}
.our_team {
    padding: 50px 0 20px;
}
.our_team .tm_name {
    font-size: 16px;
    line-height: 23px;
}
}
@media (max-width: 1199px) {
  .employers .employer_img img {
      height: 220px;
  }
  .join .join_team h2 {
    font-size: 25px;
    line-height: 36px;
}
}
@media (max-width: 991px) {
  .quote_sec h1::after {
    right: 0;
  }
  .employers > .inner {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 3px;
      grid-row-gap: 3px;
  }
  .employers .employer_img img {
      height: 370px;
  }
}
@media (max-width: 767px) {
  .quote_sec h1 {
      font-size: 25px;
      padding: 10px 70px;
  }
  .quote_sec h1::before, .quote_sec h1::after {
    width: 35px;
    height: 20px;
}
.quote_sec h1 {
    font-size: 25px;
    padding: 10px 50px;
}
.employers .employer_img img {
    height: 270px;
}
.our_team .sec_heading {
    margin-bottom: 31px;
}
.join .join_team {
    padding: 40px 25px 50px;
}
.join .join_team h2 {
    font-size: 20px;
    line-height: 31px;
    margin-bottom: 40px;
}
.join .join_form .form_image {
    max-width: 300px;
    margin: 0 auto 30px;
}
}
@media (max-width: 575px) {
  .employers .employer_img img {
      height: 370px;
  }
.employers > .inner {
    grid-template-columns: repeat(1, 1fr);
}
}
@media (max-width: 480px) {
  .quote_sec {
    padding: 20px 0;
}
.quote_sec h1 {
    font-size: 23px;
}
  .join .join_form input {
      width: 100%;
      margin-bottom: 30px;
  }
  .join .join_form .input_field {
      margin-bottom: 30px;
  }
  .join .join_form .grouped_input .input_field {
      width: 100%;
  }
}
